@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
:root {
  /* (main background) */
  --Verydarkblue: hsl(233, 47%, 7%);
  /* (card background) */
  --Darkdesaturatedblue: hsl(244, 38%, 16%);
  /* (accent) */
  --Softviolet: hsl(277, 64%, 61%);

  /* (main heading, stats) */
  --White: hsl(0, 0%, 100%);
  /* (main paragraph) */
  --Slightlytransparentwhite: hsla(0, 0%, 100%, 0.75);
  /* (stat headings) */
  --Slightlytransparentwhite: hsla(0, 0%, 100%, 0.6);
}
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--Verydarkblue);
}
main {
  width: auto;
  height: 48%;
  display: flex;
  background-color: var(--Darkdesaturatedblue);
  font-family: "Inter", sans-serif;
  border-radius: 10px;
}
.contenido {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--White);
}
.contenido2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.numeros {
  display: flex;
  gap: 70px;
  margin-top: 40px;
}
p {
  color: var(--Slightlytransparentwhite);
}
img {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.4;
}
.attribution {
  color: var(--White);
}
.span {
  color: var(--Softviolet);
}
.imagen {
  display: flex;
  height: 100%;
  background-color: rgb(88, 16, 90);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
